.title {
    font-size: calc(24px + (40 - 24) * (100vw - 480px) / (1920 - 480));
    font-weight: normal;
}

.containerList {
    margin-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    align-items: center;
}

.wrapperItem {
    font-size: calc(16px + (24 - 16) * (100vw - 480px) / (1920 - 480));
    color: var(--colorSeconderyTextBlack);
    margin-right: 1rem;

    display: flex;
    align-items: center;
}

.circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: var(--colorSeconderyTextBlack);
}

.containerDescriptionHotel {
    margin-top: 2rem;
    font-size: calc(16px + (24 - 16) * (100vw - 480px) / (1920 - 480));
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.containerDescriptionHotel p {
    letter-spacing: 2px;
    text-indent: 30px;
}

.subTitle {
    font-size: calc(20px + (32 - 20) * (100vw - 480px) / (1920 - 480));
    text-indent: 0 !important;
    margin-bottom: 1rem;
    color: var(--colorSeconderyTextBlack);
}

.comfortList {
    margin-left: 2rem;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}


@media (max-width: 1100px) {
    .comfortList {
        margin-left: 2rem;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (max-width: 768px) {
    .circle {
        width: 0.375rem;
        height: 0.375rem;
    }

    .containerDescriptionHotel {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .containerList {
        margin-top: 1rem;
        padding-bottom: 0.75rem;
    }

    .containerDescriptionHotel {
        margin-top: 1rem;
        padding-bottom: 0.75rem;
    }
}

@media (max-width: 360px) {
    .comfortList {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}