.wrapperFormSearch {
  width: 100%;
}

.wrapperFormSearch {
  margin-top: var(--marginCalc);
}

.finishText {
  font-size: calc(16px + (24 - 16) * (100vw - 480px) / (1920 - 480));
  font-style: italic;
  text-align: center;
}

.wrapperFormCall {
  width: 60%;
}


@media (max-width: 900px) {
  .wrapperFormCall {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .wrapperFormSearch {
    display: none;
  }

  .wrapperFormCall {
    width: 90%;
  }
}